<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Millow konuşmanızı metne dönüştürmek için mikrofona erişim gerektirir.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Millow metni aktif uygulamaya yazmak için erişim gerektirir.</string>
</dict>
</plist>
